/ZH2022/.vs/ZH2022/CopilotIndices/17.14.1204.46620/CodeChunks.db
/ZH2022/.vs/ZH2022/CopilotIndices/17.14.1204.46620/CodeChunks.db-shm
/ZH2022/.vs/ZH2022/CopilotIndices/17.14.1204.46620/CodeChunks.db-wal
/ZH2022/.vs/ZH2022/CopilotIndices/17.14.1204.46620/SemanticSymbols.db
/ZH2022/.vs/ZH2022/CopilotIndices/17.14.1204.46620/SemanticSymbols.db-shm
/ZH2022/.vs/ZH2022/CopilotIndices/17.14.1204.46620/SemanticSymbols.db-wal
/ZH2022/.vs/ZH2022/FileContentIndex/3d09f008-2dbb-41e2-bd64-94547e96a079.vsidx
/ZH2022/.vs/ZH2022/FileContentIndex/5c79b338-606b-4884-a8a4-70c4a7a13582.vsidx
/ZH2022/.vs/ZH2022/FileContentIndex/63583c70-c554-46fa-ad68-69887cba5aa4.vsidx
/ZH2022/.vs/ZH2022/FileContentIndex/9c2cf95a-2687-4360-9541-86d4d419e7be.vsidx
/ZH2022/.vs/ZH2022/FileContentIndex/fffeb972-b7eb-4a6b-88ca-c41f5723ea2a.vsidx
/ZH2022/.vs/ZH2022/v17/TestStore/0/000.testlog
/ZH2022/.vs/ZH2022/v17/TestStore/0/testlog.manifest
/ZH2022/.vs/ZH2022/v17/.suo
/ZH2022/.vs/ZH2022/v17/DocumentLayout.json
/ZH2022/Common/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/ZH2022/Common/obj/Debug/net8.0/Common.AssemblyInfo.cs
/ZH2022/Common/obj/Debug/net8.0/Common.AssemblyInfoInputs.cache
/ZH2022/Common/obj/Debug/net8.0/Common.assets.cache
/ZH2022/Common/obj/Debug/net8.0/Common.GeneratedMSBuildEditorConfig.editorconfig
/ZH2022/Common/obj/Debug/net8.0/Common.GlobalUsings.g.cs
/ZH2022/Common/obj/Common.csproj.nuget.dgspec.json
/ZH2022/Common/obj/Common.csproj.nuget.g.props
/ZH2022/Common/obj/Common.csproj.nuget.g.targets
/ZH2022/Common/obj/project.assets.json
/ZH2022/Common/obj/project.nuget.cache
/ZH2022/ConsoleApplication/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/ZH2022/ConsoleApplication/obj/Debug/net8.0/ConsoleApplication.AssemblyInfo.cs
/ZH2022/ConsoleApplication/obj/Debug/net8.0/ConsoleApplication.AssemblyInfoInputs.cache
/ZH2022/ConsoleApplication/obj/Debug/net8.0/ConsoleApplication.assets.cache
/ZH2022/ConsoleApplication/obj/Debug/net8.0/ConsoleApplication.GeneratedMSBuildEditorConfig.editorconfig
/ZH2022/ConsoleApplication/obj/Debug/net8.0/ConsoleApplication.GlobalUsings.g.cs
/ZH2022/ConsoleApplication/obj/ConsoleApplication.csproj.nuget.dgspec.json
/ZH2022/ConsoleApplication/obj/ConsoleApplication.csproj.nuget.g.props
/ZH2022/ConsoleApplication/obj/ConsoleApplication.csproj.nuget.g.targets
/ZH2022/ConsoleApplication/obj/project.assets.json
/ZH2022/ConsoleApplication/obj/project.nuget.cache
/ZH2022/Tests/bin/Debug/net8.0/CoverletSourceRootsMapping_Tests
/ZH2022/Tests/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/ZH2022/Tests/obj/Debug/net8.0/Tests.AssemblyInfo.cs
/ZH2022/Tests/obj/Debug/net8.0/Tests.AssemblyInfoInputs.cache
/ZH2022/Tests/obj/Debug/net8.0/Tests.assets.cache
/ZH2022/Tests/obj/Debug/net8.0/Tests.csproj.AssemblyReference.cache
/ZH2022/Tests/obj/Debug/net8.0/Tests.GeneratedMSBuildEditorConfig.editorconfig
/ZH2022/Tests/obj/Debug/net8.0/Tests.GlobalUsings.g.cs
/ZH2022/Tests/obj/project.assets.json
/ZH2022/Tests/obj/project.nuget.cache
/ZH2022/Tests/obj/Tests.csproj.nuget.dgspec.json
/ZH2022/Tests/obj/Tests.csproj.nuget.g.props
/ZH2022/Tests/obj/Tests.csproj.nuget.g.targets
