/ZH2022/.vs/ZH2022/CopilotIndices/17.14.1204.46620/CodeChunks.db
/ZH2022/.vs/ZH2022/CopilotIndices/17.14.1204.46620/CodeChunks.db-shm
/ZH2022/.vs/ZH2022/CopilotIndices/17.14.1204.46620/CodeChunks.db-wal
/ZH2022/.vs/ZH2022/CopilotIndices/17.14.1204.46620/SemanticSymbols.db
/ZH2022/.vs/ZH2022/CopilotIndices/17.14.1204.46620/SemanticSymbols.db-shm
/ZH2022/.vs/ZH2022/CopilotIndices/17.14.1204.46620/SemanticSymbols.db-wal
/ZH2022/.vs/ZH2022/FileContentIndex/3d09f008-2dbb-41e2-bd64-94547e96a079.vsidx
/ZH2022/.vs/ZH2022/FileContentIndex/5c79b338-606b-4884-a8a4-70c4a7a13582.vsidx
/ZH2022/.vs/ZH2022/FileContentIndex/63583c70-c554-46fa-ad68-69887cba5aa4.vsidx
/ZH2022/.vs/ZH2022/FileContentIndex/9c2cf95a-2687-4360-9541-86d4d419e7be.vsidx
/ZH2022/.vs/ZH2022/FileContentIndex/fffeb972-b7eb-4a6b-88ca-c41f5723ea2a.vsidx
/ZH2022/.vs/ZH2022/v17/TestStore/0/000.testlog
/ZH2022/.vs/ZH2022/v17/TestStore/0/testlog.manifest
/ZH2022/.vs/ZH2022/v17/.suo
/ZH2022/.vs/ZH2022/v17/DocumentLayout.json
/ZH2022/Common/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/ZH2022/Common/obj/Debug/net8.0/Common.AssemblyInfo.cs
/ZH2022/Common/obj/Debug/net8.0/Common.AssemblyInfoInputs.cache
/ZH2022/Common/obj/Debug/net8.0/Common.assets.cache
/ZH2022/Common/obj/Debug/net8.0/Common.GeneratedMSBuildEditorConfig.editorconfig
/ZH2022/Common/obj/Debug/net8.0/Common.GlobalUsings.g.cs
/ZH2022/Common/obj/Common.csproj.nuget.dgspec.json
/ZH2022/Common/obj/Common.csproj.nuget.g.props
/ZH2022/Common/obj/Common.csproj.nuget.g.targets
/ZH2022/Common/obj/project.assets.json
/ZH2022/Common/obj/project.nuget.cache
/ZH2022/ConsoleApplication/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/ZH2022/ConsoleApplication/obj/Debug/net8.0/ConsoleApplication.AssemblyInfo.cs
/ZH2022/ConsoleApplication/obj/Debug/net8.0/ConsoleApplication.AssemblyInfoInputs.cache
/ZH2022/ConsoleApplication/obj/Debug/net8.0/ConsoleApplication.assets.cache
/ZH2022/ConsoleApplication/obj/Debug/net8.0/ConsoleApplication.GeneratedMSBuildEditorConfig.editorconfig
/ZH2022/ConsoleApplication/obj/Debug/net8.0/ConsoleApplication.GlobalUsings.g.cs
/ZH2022/ConsoleApplication/obj/ConsoleApplication.csproj.nuget.dgspec.json
/ZH2022/ConsoleApplication/obj/ConsoleApplication.csproj.nuget.g.props
/ZH2022/ConsoleApplication/obj/ConsoleApplication.csproj.nuget.g.targets
/ZH2022/ConsoleApplication/obj/project.assets.json
/ZH2022/ConsoleApplication/obj/project.nuget.cache
/ZH2022/Tests/bin/Debug/net8.0/CoverletSourceRootsMapping_Tests
/ZH2022/Tests/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/ZH2022/Tests/obj/Debug/net8.0/Tests.AssemblyInfo.cs
/ZH2022/Tests/obj/Debug/net8.0/Tests.AssemblyInfoInputs.cache
/ZH2022/Tests/obj/Debug/net8.0/Tests.assets.cache
/ZH2022/Tests/obj/Debug/net8.0/Tests.csproj.AssemblyReference.cache
/ZH2022/Tests/obj/Debug/net8.0/Tests.GeneratedMSBuildEditorConfig.editorconfig
/ZH2022/Tests/obj/Debug/net8.0/Tests.GlobalUsings.g.cs
/ZH2022/Tests/obj/project.assets.json
/ZH2022/Tests/obj/project.nuget.cache
/ZH2022/Tests/obj/Tests.csproj.nuget.dgspec.json
/ZH2022/Tests/obj/Tests.csproj.nuget.g.props
/ZH2022/Tests/obj/Tests.csproj.nuget.g.targets
/ZH2022/.vs/ZH2022/FileContentIndex/8456086b-f528-4145-8499-b91cdd45586f.vsidx
/ZH2022/.vs/ZH2022/FileContentIndex/868336de-be04-4a44-adb5-bb1e5462c4cd.vsidx
/ZH2022/.vs/ZH2022/FileContentIndex/99a4cf13-ba00-4271-ac62-77a2f2b91e13.vsidx
/ZH2022/.vs/ZH2022/FileContentIndex/b2b3e457-84af-4096-abb0-9f9aab595beb.vsidx
/ZH2022/.vs/ZH2022/v17/DocumentLayout.backup.json
/ZH2022/Common/bin/Debug/net8.0/Common.deps.json
/ZH2022/Common/bin/Debug/net8.0/Common.dll
/ZH2022/Common/bin/Debug/net8.0/Common.pdb
/ZH2022/Common/obj/Debug/net8.0/refint/Common.dll
/ZH2022/Common/obj/Debug/net8.0/ref/Common.dll
/ZH2022/Common/obj/Debug/net8.0/Common.csproj.BuildWithSkipAnalyzers
/ZH2022/Common/obj/Debug/net8.0/Common.csproj.CoreCompileInputs.cache
/ZH2022/Common/obj/Debug/net8.0/Common.csproj.FileListAbsolute.txt
/ZH2022/Common/obj/Debug/net8.0/Common.dll
/ZH2022/Common/obj/Debug/net8.0/Common.pdb
/ZH2022/Common/obj/Debug/net8.0/Common.sourcelink.json
/ZH2022/Tests/bin/Debug/net8.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ZH2022/Tests/bin/Debug/net8.0/Common.dll
/ZH2022/Tests/bin/Debug/net8.0/Common.pdb
/ZH2022/Tests/bin/Debug/net8.0/Microsoft.TestPlatform.CommunicationUtilities.dll
/ZH2022/Tests/bin/Debug/net8.0/Microsoft.TestPlatform.CoreUtilities.dll
/ZH2022/Tests/bin/Debug/net8.0/Microsoft.TestPlatform.CrossPlatEngine.dll
/ZH2022/Tests/bin/Debug/net8.0/Microsoft.TestPlatform.PlatformAbstractions.dll
/ZH2022/Tests/bin/Debug/net8.0/Microsoft.TestPlatform.Utilities.dll
/ZH2022/Tests/bin/Debug/net8.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
/ZH2022/Tests/bin/Debug/net8.0/Microsoft.VisualStudio.TestPlatform.Common.dll
/ZH2022/Tests/bin/Debug/net8.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
/ZH2022/Tests/bin/Debug/net8.0/Newtonsoft.Json.dll
/ZH2022/Tests/bin/Debug/net8.0/NuGet.Frameworks.dll
/ZH2022/Tests/bin/Debug/net8.0/testhost.dll
/ZH2022/Tests/bin/Debug/net8.0/testhost.exe
/ZH2022/Tests/bin/Debug/net8.0/Tests.deps.json
/ZH2022/Tests/bin/Debug/net8.0/Tests.dll
/ZH2022/Tests/bin/Debug/net8.0/Tests.pdb
/ZH2022/Tests/bin/Debug/net8.0/Tests.runtimeconfig.json
/ZH2022/Tests/bin/Debug/net8.0/xunit.abstractions.dll
/ZH2022/Tests/bin/Debug/net8.0/xunit.assert.dll
/ZH2022/Tests/bin/Debug/net8.0/xunit.core.dll
/ZH2022/Tests/bin/Debug/net8.0/xunit.execution.dotnet.dll
/ZH2022/Tests/bin/Debug/net8.0/xunit.runner.reporters.netcoreapp10.dll
/ZH2022/Tests/bin/Debug/net8.0/xunit.runner.utility.netcoreapp10.dll
/ZH2022/Tests/bin/Debug/net8.0/xunit.runner.visualstudio.dotnetcore.testadapter.dll
/ZH2022/Tests/obj/Debug/net8.0/refint/Tests.dll
/ZH2022/Tests/obj/Debug/net8.0/ref/Tests.dll
/ZH2022/Tests/obj/Debug/net8.0/Tests.csproj.BuildWithSkipAnalyzers
/ZH2022/Tests/obj/Debug/net8.0/Tests.csproj.CoreCompileInputs.cache
/ZH2022/Tests/obj/Debug/net8.0/Tests.csproj.FileListAbsolute.txt
/ZH2022/Tests/obj/Debug/net8.0/Tests.csproj.Up2Date
/ZH2022/Tests/obj/Debug/net8.0/Tests.dll
/ZH2022/Tests/obj/Debug/net8.0/Tests.genruntimeconfig.cache
/ZH2022/Tests/obj/Debug/net8.0/Tests.pdb
/ZH2022/Tests/obj/Debug/net8.0/Tests.sourcelink.json
/ZH2022/.vs/ZH2022/DesignTimeBuild/.dtbcache.v2
/ZH2022/.vs/ZH2022/FileContentIndex/5126937a-649b-4ec5-a84d-9f2ec031a4d5.vsidx
/ZH2022/.vs/ZH2022/FileContentIndex/a1fc4f1d-a26b-4988-a53c-64eacd7d9d4e.vsidx
